<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participantes</title>
    <link rel="stylesheet" href="../../css/estilo.css">
    <link rel="shortcut icon" href="../../imgs/katascore-isologotipo.ico" type="image/x-icon">
</head>

<body>

    <main class="content">

        <h1 class="title">Participantes</h1>

    </main>

    <footer>
        <div class="footer__line"></div>
        <p>Desarrollado por Codexpert</p>
    </footer>

    <script src="../../../controller/listParticipants.js"></script>

</body>

</html>