<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Participantes</title>
    <link rel="stylesheet" href="../../css/estilo.css">
    <link rel="shortcut icon" href="../../imgs/katascore-isologotipo.ico" type="image/x-icon">
</head>

<body>

    <main>

        <h1 class="title">Participantes</h1>
        <section class="table__container">
            <table class="table">
                <thead>

                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Pool</th>
                    </tr>

                </thead>
            </table>
        </section>
    </main>

    <footer>
        <div class="footer__line"></div>
        <p>Desarrollado por Codexpert</p>
    </footer>

    <script src="../../../controller/sortParticipants.js"></script>

</body>

</html>