html {
  height: 100%;
}

.homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 80px;
}

.homePage__container {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 800px;
}
