header {
  font-family: system-ui;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 35px;
  padding: 40px 40px 0 40px;
  box-sizing: border-box;
  font-weight: 600;
}

.header__container {
  background-color: rgb(198, 215, 230);
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.321);
  display: flex;
  gap: 30px;
  padding: 0 40px;
  border-radius: 20px;
}

.scoreScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.blueBox,
.redBox {
  height: 500px;
  width: 500px;
  border-radius: 50px;
  box-shadow: inset -10px -10px 20px 1px rgba(0, 0, 0, 0.297),
    inset 10px 10px 20px 1px rgba(255, 255, 255, 0.297),
    0 0 20px 1px rgba(0, 0, 0, 0.297);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  font-weight: 600;
  color: rgb(220, 224, 227);
}

.redBox {
  background-color: rgb(249, 79, 79);
}

.blueBox {
  background-color: rgb(30, 143, 241);
}

.scoreScreen__content {
  font-size: 70px;
  font-weight: 600;
}

.title {
  font-size: 200px;
}

.classified {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  font-size: 50px;
}

.scoreScreen__competition {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.scoreScreen__competition h1 {
  font-size: 100px;
  text-transform: capitalize;
  margin: 0;
}

.kata {
  font-size: 70px;
  margin: 0;
}

.scoreScreen__competition section {
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(
    70deg,
    rgba(227, 233, 240, 0.312),
    rgba(248, 251, 255, 0.811)
  );
  box-shadow: 10px 10px 25px 2px rgba(0, 0, 0, 0.107);
}

.scoreScreen__competition section p {
  font-size: 40px;
  margin: 0;
}
