<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kata Score</title>
    <link rel="stylesheet" href="../../css/estilo.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/homePage.css">
    <link rel="shortcut icon" href="../../imgs/katascore-isologotipo.ico" type="image/x-icon">
</head>

<body>
    <main>
        <article class="homePage">
            <img src="../../imgs/katascore-logo.png" alt="katascore" class="logo">
            <section class="homePage__container">
                <a href="./controlPanel/login.html" class="button">Control Panel</a>
                <a href="./judgePanel/loginJudge.html" class="button">Judge Tablet</a>
                <a href="./controlPanel/scoreScreenCompetitions.html" class="button">Score Screen</a>
            </section>
        </article>
    </main>

    <label class="switch">
        <input type="checkbox" checked class="switch__checkbox">
        <div class="slider">
            <span>en</span>
            <span>es</span>
        </div>
    </label>

    <footer>
        <div class="footer__line"></div>
        <p>Developed by Codexpert</p>
    </footer>

    <script src="../../../controller/translate.js"></script>
</body>

</html>